<%- include('partials/header'); %>
<img src="svg/form.svg" class="bgIllustration" alt="">
<section id="account">
    <h3>Account Settings</h3>
    <div class="wrapper left box">
        <h2><%=currentUser.name%> </h2>
        <div class="avatar"><img src="images/avatar/<%= currentUser.avatar %> " alt=""></div>
        <ul>
            <li><a href="#">Lorem, ipsum.</a></li>
            <li><a href="#">Lorem, ipsum.</a></li>
            <li><a href="#">Lorem, ipsum.</a></li>
            <li><a href="#">Cancel my Subscription.</a></li>
        </ul>
    </div>
    <div class="wrapper right box">
        <div class="box form">
            <!-- I'LL NEED METHOD OVERWRITE TO CHANGE THE INFORMATION THAT'S ALREADY ON FILE -->
            <form action="/" method="post">
                <label for="name">Full Name</label>
                <input class="capitalize" type="text" name="name" value="<%= currentUser.name %>">
                <label for="username">Username</label>
                <input type="text" name="username" value="<%= currentUser.username %>">
                <button>update</button>
            </form>
        </div>
        <div class="box form">
            <!-- I'LL NEED METHOD OVERWRITE TO CHANGE THE INFORMATION THAT'S ALREADY ON FILE -->
            <form action="/" method="post">
                <label for="email">E-mail Address</label>
                <input type="email" name="email" value="<%= currentUser.email %>">
                <label for="name">Avatar</label>
                <input type="text" name="avatar" value="<%= currentUser.avatar %>">
                <button>update</button>
            </form>
        </div>
    </div>
</section>
<%- include('partials/footer'); %>
