<!-- lessonsData is for all the lessons db -->
<!-- lesson is just the information passed by the ID (this specific lesson) -->
<%- include('partials/header'); %>
<section id="tutorials">
    <h3>How to Use Our Premium Tools</h3>
    <div class="wrapper">
        <% lessons.forEach(lesson => { %>
        <div class="lessonBox">
            <a href="/lesson/<%= lesson._id %> ">
                <img src="./images/thumbnail/<%= lesson.thumbnail %>.jpg" alt="">
                <div class="title">
                    <h2><%= lesson.name %> </h2>
                    <p></p>
                </div>
            </a>
        </div>
        <% }) %>
    </div>
</section>
<%- include('partials/footer'); %>