<%- include('partials/header'); %>
<div id="altbg"></div>
<section id="lesson">

    <div class="container">
        <div class="videoWrapper">
            <iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="<%=lesson.id%>"
                allowtransparency="true" allowfullscreen="true" frameborder="0" scrolling="no"> </iframe>
            <h2><%= lesson.description %> </h3>
        </div>
        <div class="wrapper">
            <% lessons.forEach(lesson => { %>
            <div class="lessonBox">
                <a href="/lesson/<%= lesson._id %> ">
                    <img src="/images/thumbnail/<%= lesson.thumbnail %>.jpg" alt="">
                    <div class="title">
                        <h2><%= lesson.description %> </h2>
                        <p><%= lesson.name  %></p>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
    </div>


</section>

<%- include('partials/footer'); %>
