<%- include('partials/header'); %>
<section id="lesson">

    <div class="container">
        <div class="videoWrapper">
            <iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="<%=lesson.id%>"
                allowtransparency="true" allowfullscreen="true" frameborder="0" scrolling="no"> </iframe>

            <button class="accordionButton">
                <%= lesson.name %> <span>Read More</span>
            </button>
            <div class="accordionContent">
                <%= lesson.description %>
            </div>

        </div>
        <div class="wrapper">
            <% lessons.forEach(lesson => { %>
            <div class="lessonBox">
                <a href="/lesson/<%= lesson._id %> ">
                    <img src="/images/thumbnail/<%= lesson.thumbnail %>.jpg" alt="">
                    <div class="title">
                        <h2><%= lesson.name %> </h2>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<%- include('partials/footer'); %>