  <%- include('partials/header'); %>

  <section data-scroll id="tutorials">
      <h3>Lessons from our Expert Team</h3>
      <div class="wrapper">

          <% lessons.forEach(lesson => { %>
          <div class="card box">
              <h2><%= lesson.name %> </h2>
              <img src="./images/thumbnail/<%= lesson.thumbnail %>.jpg" alt="">
              <a class="button tutorial" href="/lesson/<%= lesson._id %> ">Watch Now</a>
          </div>
          <% }) %>
      </div>
  </section>
  <%- include('partials/footer'); %>
